<% include ../partials/head.ejs %>
<% include ../partials/top-nav.ejs %>
<!-- content for add page-->

<div class="container">
    <div class="row">
        <div class="col-md-offset-4 col-md-5">
        <h1><% title %></h1>

        <form class="form" method="POST">
            <div class="form-group">
                <label for="nameTextField"> Book Title</label>
                <input type="text" class="form-control" 
                id="nameTextField"
                placeholder="Book Title"
                name="name" required>
            </div>

            <div class="form-group">
                <label for="author">Author</label>
                <input type="text" class="form-control" 
                id="authorTextField"
                placeholder="Enter Author name"
                name="author" required>
            </div>

            <div class="form-group">
                <label for="publishedTextField">Year</label>
                <input type="text" class="form-control" 
                id="publishedTextField"
                placeholder="Book Year of Publication"
                name="published" required>
            </div>

            <div class="form-group">
                <label for="descriptionTextArea">Description</label>
                <textarea type="text" class="form-control" 
                id="descriptionTextArea"
                placeholder="Enter Description"
                name="description" required></textarea>
            </div>

            <div class="form-group">
                <label for="priceTextField">Price</label>
                <input type="number" class="form-control" 
                id="priceTextField"
                placeholder="Enter price of the book"
                name="price" required>
            </div>

            <button class="btn btn-primary" type="submit">
                <i class="fas fa-edit"></i> Submit
            </button>

            <a href="/book-list" class="btn btn-warning">
                <i class="fas fa-undo"></i> Cancel
            </a>

        </form>
    </div>
    </div>
</div>


<% include  ../partials/bottom-nav.ejs %>