<!--
File Name: views/partials/about.ejs
Student Name: Adrian Dumitriu
Student ID: 300566849
Date: October 24, 2021


html document that generates the "about" page
-->



<div class="card mb-3" style="max-width: 60%;" id="about-me-card">
	<div class="row g-0">
	  <div class="col-md-4">
		<img src='/assets/images/headshot.png' class="img-fluid rounded-start" alt="...">
	  </div>
	  <div class="col-md-8">
		<div class="card-body" id="card-body1">
		  <h1 class="card-title">Adrian Dumitriu - Personal Background</h1>
		  <div class="accordion" id="accordionExample">
			<div class="accordion-item">
			  <h2 class="accordion-header" id="headingOne">
				<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
					Education
				</button>
			  </h2>
			  <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
				<div class="accordion-body">
					Graduated from Northern Secondary school in 2008. Attended Georgian College part-time and completed the Bachelor of Business: Automotive Management program in 2018. I also took a few Python, Java, C++ courses throughout the years. I am currently attenting my third semester at Centennial College, for the Software Engineering Technology Program. So far it has been very rewarding and I am constantly learning something new.
				  </div>
			  </div>
			</div>
			<div class="accordion-item">
			  <h2 class="accordion-header" id="headingTwo">
				<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
					Work Experience
				</button>
			  </h2>
			  <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
				<div class="accordion-body">
					I started working at the age of 16 and spend most of my early career in the automotive industry. I began as an automotive apprentice in 2006, while in highschool. By 2014 I worked my way up to a franchise store manager. In 2016 I left that position and became an assistant warehouse manager for one of the biggest auto parts suppliers in the GTA. Two years later, an opportunity came up for me to move back to my home country of Romania and work as a technical consultant for the biggest auto/truck/agro parts supplier in the country. In 2020 I switched industries; I am now working for a department within the Ministry of Agriculture, in charge of digitalizing documents, blueprints, and internal procedures.
					  </div>
			  </div>
			</div>
			<div class="accordion-item">
			  <h2 class="accordion-header" id="headingThree">
				<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
					Personal Life
				</button>
			  </h2>
			  <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
				<div class="accordion-body">
					My favourite thing to do is travel. I have visited over 20 countries and plan to celebrate the end of the pandemic by taking a long, multiple country, trip. Going to electronic music festivals is one of my other favourite pastimes. In 2019, I married my childhood love and our daughter was born almost a year ago. Thankfully, my work schedule is quite flexible, allowing me to attend school while also giving me lots of time to spend with my family. </dd>
			
					  </div>
			  </div>
			</div>
		  </div>

		 <a href="/assets/resume.pdf" class="btn btn-primary" id="resume-btn">Access Resume</a>

		</div>
	  </div>
	</div>
  </div>