<!-- BOTTOM NAV-->
<nav class="navbar fixed-bottom navbar-light bg-primary">
    <div >
      <h5 class="copyright1"> &copy; 2021 Copyright Centennial College Fall 2021 - COMP229 - Adrian Dumitriu </h5>
    </div>
  </nav>

   <!-- Style Script-->
   <script src='/scripts/app.js'></script>
   <script src='/jquery/dist/jquery.min.js'></script>
   <script src='/bootstrap/dist/js/bootstrap.min.js'></script>
  