<!--
File Name: views/partials/home.ejs
Student Name: Adrian Dumitriu
Student ID: 300566849
Date: October 24, 2021


html document that renders the home page 
-->


<img class="logo" src='/assets/images/logo.png'>

<div class="mission"><h2 >"Designing things we see and feel.."</h2></div>
  <div class="container">
    <div class="row">
      <div class="col">
        <div class="card" style="width: 18rem;" id="card1">
            <i class="far fa-address-card fa-8x" id='home_icon1'></i>
            <div class="card-body">
              <p class="card-text">Welcome to my personal website! Feel free to navigate around and find out if my skills suit your needs. To find out more about me click the button bellow.</p>
              <a href="/About" class="btn btn-primary">About me</a>
            </div>
          </div>
      </div>
      <div class="col">
        <div class="card" style="width: 18rem;" id="card2"> 
            <i class="fas fa-briefcase fa-8x" id='home_icon2'></i>
            <div class="card-body">
              <p class="card-text">Clicking the button bellow will take you to my Past Projects page, where you will see my digital design and web developments skills. </p>
              <a href="/Projects" class="btn btn-primary">My Projects</a>
            </div>
          </div>
      </div>
      <div class="col">
        <div class="card" style="width: 18rem;" id="card3">
            <i class="fas fa-tools fa-8x" id='home_icon3'></i>
            <div class="card-body">
              <p class="card-text">I also happen to be a hands-on type of person and I passionate about woodworking and interior design. Hit the button to see some of my past creations.</p>
              <a href="/Services" class="btn btn-primary">My Services</a>
            </div>
          </div>
      </div>
      <div class="col">
        <div class="card" style="width: 18rem;" id="card4">
            <i class="far fa-envelope fa-8x" id='home_icon4'></i>
            <div class="card-body">
              <p class="card-text">Not finding what you're looking for? That doesn't mean I can't do it! Shoot me an email with your requests and I will get back to you ASAP.</p>
              <a href="/Contact" class="btn btn-primary">Get in Touch</a>
            </div>
          </div>
      </div>
    </div>
  </div>