<!--
File Name: views/partials/top-nav.ejs
Student Name: Adrian Dumitriu
Student ID: 300566849
Date: October 24, 2021
-->

<!-- main navigation-->

<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container-fluid">
      <a class="navbar-brand" href="#"><img src='/assets/images/logo.png' style="border-radius:40%; height:120px; width:150px;"></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto">
  
          <li class="nav-item">
            <a class="nav-link" href="/home"> <i class="fas fa-home fa-2x"></i> Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/About"> <i class="fas fa-2x fa-question-circle"></i> About</a>
          </li>
  
          <li class="nav-item">
            <a class="nav-link" href="/Projects"> <i class="fas fa-2x fa-project-diagram"></i> Projects</a>
          </li>
  
          <li class="nav-item">
            <a class="nav-link" href="/Services"> <i class="fas fa-2x fa-tools"></i> Serivces</a>
          </li>
  
          <li class="nav-item">
            <a class="nav-link" href="/Contact"> <i class="fas fa-2x fa-phone-square-alt"></i> Contact</a>
          </li>      
          
          <li class="nav-item">
            <a class="nav-link" href="/contact-list"> <i class="fas fa-2x fa-address-book"></i></i> Contact List</a>
          </li>

          <% if(typeof displayName == 'string' && displayName) { %>
             
            <li style="padding-left: 100px" class="navbar-text">
              <i class="fas fa-2x fa-user"></i> Welcome <%= displayName %>!
            </li>
            <li style="padding-left: 25px" class="nav-item"><a href="/logout" class="nav-link">
              <i class="fas fa-2x fa-sign-out-alt"></i> Logout</a></li>
          <% } else { %>
            <li style="padding-left: 100px" class="nav-item"><a href="login" class="nav-link">
              <i class="fas fa-2x fa-sign-in-alt"></i> Login</a></li>
          <% } %>
  </nav>