<div class="about_me"><h3>Personal Background</h3>
	<dl>
		<dt class="margin1" style='color: black'><b>Education</b></dt>
		<br>
		<dd class="margin" >Graduated from Northern Secondary school in 2008. Attended Georgian College part-time and completed the Bachelor of Business: Automotive Management program in 2018. I also took a few Python, Java, C++ courses throughout the years. I am currently attenting my third semester at Centennial College, for the Software Engineering Technology Program. So far it has been very rewarding and I am constantly learning something new. </dd>
		<br>
		<dt class="margin1"  style='color: black'><b>Work Experience</b></dt>
		<br>
		<dd class="margin">I started working at the age of 16 and spend most of my early career in the automotive industry. I began as an automotive apprentice in 2006, while in highschool. By 2014 I worked my way up to a franchise store manager. In 2016 I left that position and became an assistant warehouse manager for one of the biggest auto parts suppliers in the GTA. Two years later, an opportunity came up for me to move back to my home country of Romania and work as a technical consultant for the biggest auto/truck/agro parts supplier in the country. In 2020 I switched industries; I am now working for a department within the Ministry of Agriculture, on a one year contract that has just been extended. I am in charge of the digitalization of documents and blueprints, but also helping the older generation learn basic computer skills.</dd>
		<br>
		<dt class="margin1"  style='color: black'><b>Personal Life</b></dt>
		<br>
		<dd class="margin" >My favourite thing to do is travel. I have visited over 20 countries and plan to celebrate the end of the pandemic by taking a long, multiple country, trip. Going to electronic music festivals is one of my other favourite pastimes. In 2019, I married my childhood love and our daughter was born almost a year ago. Thankfully, my work schedule is quite flexible, allowing me to attend school while also giving me lots of time to spend with my family. </dd>
		<br>
	</dl>
</div>
<div class='my_img_div'>
	<img src='/assets/images/headshot.png' class="my_img">
</div>