<!-- BOTTOM NAV-->
<nav class="navbar fixed-bottom navbar-light bg-primary">
    <div >
      <h5 class="copyright1"> &copy; 2021 Copyright Centennial College Fall 2021 - COMP229 - Adrian Dumitriu </h5>
    </div>
  </nav>