
<h4 style="margin-left:20px;"> The follwing links will take you to several of the websites I created.</h4>

	<div class="list-group">
		<a class="list-group-item list-group-item-action" href="http://studentweb.cencol.ca/adumitri/assignment%201/assignment1.html"> BMR Calculator</a>
		<a class="list-group-item list-group-item-action" href="http://studentweb.cencol.ca/adumitri/assignment2/assignment2.html"> Table Maker</a>
		<a class="list-group-item list-group-item-action" href="http://studentweb.cencol.ca/adumitri/Chapter/photos.htm"> Photo Carrousell</a>
		<a class="list-group-item list-group-item-action" href="http://studentweb.cencol.ca/adumitri/assignment%204%20-%20COMP125/assignment4.htm"> Form Validation</a>
		<a class="list-group-item list-group-item-action" href="http://studentweb.cencol.ca/adumitri/assignment%205%20-%20comp125/bugsmasher.html"> Bug Smasher Canvas Game</a>
		<a class="list-group-item list-group-item-action" href="http://studentweb.cencol.ca/adumitri/assignment%206%20-%20comp125/weatherApp.html"> Weather App</a>
		<a class="list-group-item list-group-item-action" href="http://studentweb.cencol.ca/adumitri/assignment%203/assignment3.html"> Product Page </a>
		<a class="list-group-item list-group-item-action" href="http://studentweb.cencol.ca/adumitri/assignment%204/assignment4.html"> Course Evaluation Form </a>
		<a class="list-group-item list-group-item-action" href="http://studentweb.cencol.ca/adumitri/Final%20Project/mainpage.html"> Realtor Page </a>
		
    </div>