
<h4 style="margin-left:20px;"> The follwing links will take you to several of the websites I created.</h4>

	<div class="list-group">
		<a class="list-group-item list-group-item-action" href="http://studentweb.cencol.ca/adumitri/assignment%201/assignment1.html"> BMR Calculator - A simple interactive Body Mass Index Calculator</a>
		<a class="list-group-item list-group-item-action" href="http://studentweb.cencol.ca/adumitri/assignment2/assignment2.html"> Table Maker - A tool to create custom tables</a>
		<a class="list-group-item list-group-item-action" href="http://studentweb.cencol.ca/adumitri/Chapter/photos.htm"> Photo Carrousell - Small photo album allowing users to add and delete pictures to favourties</a>
		<a class="list-group-item list-group-item-action" href="http://studentweb.cencol.ca/adumitri/assignment%204%20-%20COMP125/assignment4.htm"> Form Validation - Each field of the form is checked for validity</a>
		<a class="list-group-item list-group-item-action" href="http://studentweb.cencol.ca/adumitri/assignment%205%20-%20comp125/bugsmasher.html"> Bug Smasher Canvas Game - Simple & fun game that increases in difficulty</a>
		<a class="list-group-item list-group-item-action" href="http://studentweb.cencol.ca/adumitri/assignment%206%20-%20comp125/weatherApp.html"> Weather App - Sleek design allowing users to input their city, or check the weather based on location</a>
		<a class="list-group-item list-group-item-action" href="http://studentweb.cencol.ca/adumitri/assignment%203/assignment3.html"> Product Page - A simple marketing website for the new Apple Macbook lineup </a>
		<a class="list-group-item list-group-item-action" href="http://studentweb.cencol.ca/adumitri/assignment%204/assignment4.html"> Course Evaluation Form - A colouful Course Evaluation form </a>
		<a class="list-group-item list-group-item-action" href="http://studentweb.cencol.ca/adumitri/Final%20Project/mainpage.html"> Realtor Page - Custom page that includes many CSS effects </a>
		
    </div>