<% include  partials/head.ejs %>

<% include  partials/top-nav.ejs %>

  <h1 id="welcome">Welcome to the <%= title %> page </h1>

<%  if (title === 'Projects' ) { %>
  <% include  partials/projects.ejs %> <% 
} %> 
 <%  if (title === 'Contact' ) { %>
  <% include  partials/contact.ejs %> <% 
} %>
<%  if (title === 'About' ) { %>
  <% include  partials/about.ejs %> <% 
} %>

<!-- BOTTOM NAV-->
  <nav class="navbar fixed-bottom navbar-light bg-primary">
    <div class="container-fluid">
      <h5 style="color: azure;"> &copy; 2021 Copyright COMP229 - Adrian Dumitriu </h5>
    </div>
  </nav>

  <!-- CSS Section-->
  <script src="/scripts/app.js"></script>
  <script src='/jquery/dist/jquery.min.js'></script>
  <script src='/bootstrap/dist/js/bootstrap.min.js'></script>'
</body>
</html>
