<% include  partials/head.ejs %>

<%  if (title === 'About' || title === 'Contact' || title === 'Projects' || title ==='Services') { %>
  <% include  partials/top-nav.ejs %>  <% 
} %> 

  

  <%  if (title === 'Home' || title === './') { %>
    <% include  partials/home.ejs %> <% 
  } %> 
<%  if (title === 'Projects' ) { %>
  <% include  partials/projects.ejs %> <% 
} %> 
 <%  if (title === 'Contact' ) { %>
  <% include  partials/contact.ejs %> <% 
} %>
<%  if (title === 'About' ) { %>
  <% include  partials/about.ejs %> <% 
} %>
<%  if (title === 'Services' ) { %>
  <% include  partials/services.ejs %> <% 
} %>

<%  if (title === 'ContactList' ) { %>
  <% include  contact/list.ejs %> <% 
} %>

<% include  partials/bottom-nav.ejs %>


 

</body>
</html>
