<!--
File Name: views/index.ejs
Student Name: Adrian Dumitriu
Student ID: 300566849
Date: October 24, 2021


FILE THAT RENDERS ALL PAGES FROM THE MAIN NAVBAR 
-->


<% include  partials/head.ejs %>

<!-- render main nav bar on all pages except the home page for a cleaner look-->

<%  if (title === 'About' || title === 'Contact' || title === 'Projects' || title ==='Services') { %>
  <% include  partials/top-nav.ejs %>  <% 
} %> 

  

  <%  if (title === 'Home' || title === './') { %>
    <% include  partials/home.ejs %> <% 
  } %> 
<%  if (title === 'Projects' ) { %>
  <% include  partials/projects.ejs %> <% 
} %> 
 <%  if (title === 'Contact' ) { %>
  <% include  partials/contact.ejs %> <% 
} %>
<%  if (title === 'About' ) { %>
  <% include  partials/about.ejs %> <% 
} %>
<%  if (title === 'Services' ) { %>
  <% include  partials/services.ejs %> <% 
} %>

<%  if (title === 'ContactList' ) { %>
  <% include  contact/list.ejs %> <% 
} %>

<% include  partials/bottom-nav.ejs %>


</body>
</html>
