/* custom css goes here */

#welcome {
    margin-left: 30px;
    margin-top: 15px;
   
}
#fake_textarea {
    width:40%;
}
.about_me{
    float:left;
    width:50%;
    margin-left:10px;
    text-align: justify;
}

.my_img {
    
    margin: 30px;
    width: 384px;
    height: 512px;
    
}

my_img_div {
    
    width: 50%;
    float: right;
}
